[submodule "config/.oh-my-zsh"]
	path = config/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
